@use "../../styles/colors";

.wrapper {
  padding: 100px;
  background-color: colors.$primary_main;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.user{

}

.name {
 font-weight: 600;
}

.info {
    color: colors.$secondary_main;
}
