@use "../../styles/colors";

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.active{
  background-color: colors.$secondary_main ;
}

.timer{
 color: #FFF
}



