@use "../../styles/colors";

.wrapper {
    padding: 100px;
    background-color: colors.$primary_main;
}

.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 90px;
    height: 90px;
}